Classroom Info


<% @classroom.students.each do |student| %>
  <%= render partial: 'students/form', locals: {student: student} %>
  <% end %>

  <%= render partial: 'classroom', locals: {classroom: @classroom} %>
<!-- <p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p> -->

We now want to call out the oldest student in the class:
<%= render partial: 'students/student', locals: {student: @classroom.oldest_student} %>
